%h1 A warm welcome...

%h2 What's this?
%p
  This prototype was created to demonstrate the capabilities of RoR video
  hosting applications.
%p.disclaimer
  Please keep in mind when playing with the application: this is only a
  prototype and it's sole purpose is to be base for further discussions.
  
%h2 Who did it?
%p
  This protoype was created by
  =link_to 'Panter llc', 'http://www.panter.ch'
  located in Zurich. The source code is hosted on
  =link_to 'Github', 'http://github.com/panter/vgang'
  for interested parties.
%h2 More information
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur at nunc. Nulla consequat lorem non lectus gravida auctor. Nam placerat auctor sem. Aliquam et velit at tellus aliquet auctor. Sed gravida, justo ac consectetuer sollicitudin, mauris tellus molestie eros, at hendrerit nibh justo ac purus. Nulla scelerisque fermentum velit. In eros. Aliquam sodales interdum mi. Nam nec risus in sapien cursus tristique. Integer turpis. Quisque interdum tristique risus. Suspendisse lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris molestie magna non magna. Cras eget tortor.
%p
  Donec tempor, elit ut vulputate adipiscing, massa enim viverra ligula, a porttitor nunc nunc vel lorem. Proin adipiscing urna aliquet tortor. Integer id nulla sed elit elementum dapibus. Morbi at orci. Vivamus leo arcu, interdum id, commodo placerat, rutrum eget, mi. Aenean nec dolor non urna imperdiet posuere. Pellentesque odio. Proin vel nibh. Proin molestie mollis leo. Vestibulum sed metus.
  
